<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('navbar') %>

    <div class="container">
      <%- body %>

      <footer>
        <div class="social-media">
          <a href="" class="social-media-link">
            <img
              class="social-media-icons"
              src="icons/instagram.png"
              alt="ig"
            />
          </a>
          <a href="" class="social-media-link">
            <img
              class="social-media-icons"
              src="icons/linkedin.png"
              alt="linkedin"
            />
          </a>
          <a href="" class="social-media-link">
            <img
              class="social-media-icons"
              src="icons/twitter.png"
              alt="twitter"
            />
          </a>
        </div>
        <p class="copyright">
          Copyright &copy; 2021 Aurellesia. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
