<img class="about-image" src="images/veg4.jpg" alt="veg3" />
<div class="about-container">
  <div class="title-text">
    <p class="about-title">What We Do ?</p>
  </div>
  <div class="about-text">
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum pariatur
      velit hic vitae nam. Quidem sit labore nemo dolores quaerat natus itaque
      iusto molestiae, odit porro fuga temporibus autem quo. Lorem, ipsum dolor
      sit amet consectetur adipisicing elit. Ut quibusdam eligendi itaque labore
      voluptate quidem mollitia nostrum porro suscipit accusamus quos aperiam
      voluptas, ullam placeat velit explicabo nesciunt odit perferendis?
    </p>
  </div>
</div>
