<div class="contactpage-container">
  <div class="contact-image-container">
    <img class="contact-image" src="images/contactVeg.jpg" alt="vegcontact" />
  </div>

  <div class="contact-form-container">
    <p class="contactpage-title">We'd love to hear from you</p>
    <p class="contactpage-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum optio unde
      consequatur aliquam dolores cupiditate, ut quos, a illum sed, similique
      explicabo eius nam id quis odit adipisci possimus totam.
    </p>
    <form class="contact-form">
      <input name="name" type="text" placeholder="Your name" />
      <input name="email" type="text" placeholder="Your email" />
      <input name="phone" type="text" placeholder="Your phone" />
      <textarea
        name="message"
        id="message"
        rows="10"
        placeholder="Your message"
      ></textarea>
      <button class="btn-message">SEND</button>
    </form>
  </div>
</div>
