<div class="home-container">
  <div class="home-text-container">
    <div class="home-text">
      <p class="home-title">Your Veg and Fruits Supplier</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
        laudantium vitae, sapiente mollitia maiores ullam itaque commodi!
        Itaque, ut repellendus aut culpa saepe, nisi obcaecati tempora quos
        dolores, asperiores quam.
      </p>

      <button onclick="location.href='/about'" class="btn-about">
        KNOW US MORE
      </button>
    </div>
  </div>
  <div class="home-image-container">
    <img class="home-image" src="images/bannerVeg.jpg" alt="salad" />
  </div>
</div>

<div class="vegies-container">
  <div class="vegies-image-container">
    <img class="vegies-image" src="images/bannerVeg2.jpg" alt="veg" />
  </div>
  <div class="vegies-text-container">
    <div class="vegies-text">
      <p class="vegies-title">Vegies</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
        laudantium vitae, sapiente mollitia maiores ullam itaque commodi!
        Itaque, ut repellendus aut culpa saepe.
      </p>
      <button class="btn-vegies">READ MORE</button>
    </div>
  </div>
</div>

<div class="fruits-container">
  <div class="fruits-text-container">
    <div class="fruits-text">
      <p class="fruits-title">Fruits</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
        laudantium vitae, sapiente mollitia maiores ullam itaque commodi!
        Itaque, ut repellendus aut culpa saepe.
      </p>
      <button class="btn-fruits">READ MORE</button>
    </div>
  </div>
  <div class="fruits-image-container">
    <img class="fruits-image" src="images/fruits2.jpg" alt="salad" />
  </div>
</div>

<div class="galery-container">
  <img class="galery-image" src="images/bannerVeg3.jpg" alt="" />
  <img class="galery-image" src="images/fruits3.jpg" alt="" />
  <img class="galery-image" src="images/veg2.jpg" alt="" />
</div>

<div class="contact-container">
  <div class="contact-content">
    <p class="contact-text">Contact Us</p>
    <button onclick="location.href='/contact'" class="btn-contact">
      CONTACT US
    </button>
  </div>
</div>
