<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="banner">
        <div class="img-banner-container">
          <img
            class="img-banner"
            src="images/bannerVeg4.jpg"
            alt="Foto oleh Yaroslav Shuraev dari Pexels"
          />
        </div>
        <div class="title-banner-container">
          <div class="title-banner">
            <p class="title">Supply Your Health</p>
            <p class="intro">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse,
              nulla ullam obcaecati harum ratione odit eos perferendis debitis
              saepe impedit quibusdam minima expedita ducimus tenetur nostrum
              facere laborum culpa! Quibusdam?
            </p>
            <button onclick="location.href='/home'" class="btn-banner">
              READ MORE
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
